.Home {
    background-image: url(https://img.freepik.com/free-vector/film-strip-with-light-effect-cinema-background_1017-38171.jpg?size=626&ext=jpg&ga=GA1.1.1268420455.1704417647&semt=ais);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}


.CA{
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: large;
    color: rgb(0, 119, 165);
}

.pquote{
  
    color: rgb(0, 26, 255);
}